<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "User Management" }) %></section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="user-management-nav nav-tabs-custom">
            <ul class="nav nav-tabs pull-left">
                <li class="active"><a href="#add_user" data-toggle="tab" aria-expanded="true">Add User</a></li>
                <li class=""><a href="#update_account" data-toggle="tab" aria-expanded="false">Change Password</a></li>
                <li class=""><a href="#update_information" data-toggle="tab" aria-expanded="false">Update VirtualClusters</a></li>
                <li class=""><a href="#remove_user" data-toggle="tab" aria-expanded="false">Remove User</a></li>
        </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="add_user">
              <form id="form-register" class="form-register">
                  <h2 class="form-register-heading">Add new user</h2>
                  <label for="inputUsername" class="sr-only">Username</label>
                  <input type="username" name="username" id="input-username" class="form-control" placeholder="Username" required autofocus>
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" name="password" id="input-password" class="form-control" placeholder="Password" required>
                  <label for="inputVirtualCluster" class="sr-only">VirtualCluster</label>
                  <input type="virtualCluster" name="virtualCluster" id="input-virtual-cluster" class="form-control" placeholder="VirtualCluster(e.g vc1,vc2)">
                  <div class="checkbox">
                    <label><input type="checkbox" name="admin">Admin user</label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block">register</button>
                </form>
          </div>
          <div class="tab-pane" id="update_account">
              <form id="form-update-account" class="form-register">
                  <h2 class="form-register-heading">Account Setting</h2>
                  <label for="inputUsername" class="sr-only">Username</label>
                  <input type="username" name="username" id="update-account-input-username" class="form-control" placeholder="Username" required autofocus>
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" name="password" id="update-account-input-password" class="form-control" placeholder="Password" required>
                  <div class="checkbox">
                    <label><input type="checkbox" name="admin">Admin user</label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block">Update account</button>
                </form>
          </div>
          <div class="tab-pane" id="update_information">
              <form id="form-update-information" class="form-register">
                  <h2 class="form-register-heading">Update Information</h2>
                  <label for="inputUsername" class="sr-only">Username</label>
                  <input type="username" name="username" id="update-information-input-username" class="form-control" placeholder="Username" required autofocus>
                  <label for="inputVirtualCluster" class="sr-only">VirtualCluster</label>
                  <input type="virtualCluster" name="virtualCluster" id="update-information-input-virtualCluster" class="form-control" placeholder="VirtualCluster">
                  <button class="btn btn-lg btn-primary btn-block">Update Information</button>
              </form>
          </div>
          <div class="tab-pane" id="remove_user">
              <form id="form-remove-user" class="form-register">
                  <h2 class="form-register-heading">Remove User</h2>
                  <label for="inputUsername" class="sr-only">Username</label>
                  <input type="username" name="username" id="remove-user-input-username" class="form-control" placeholder="Username" required autofocus>
                  <button class="btn btn-lg btn-primary btn-block">Remove User</button>
              </form>
           </div>
        </div>

      </div>
    </div>
  </div>
</section>